In [41]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [48]:
df = spark.read.format("csv").option("header", "true").load("data/creditcard.csv")

In [57]:
df.printSchema()

root
 |-- Time: string (nullable = true)
 |-- V1: string (nullable = true)
 |-- V2: string (nullable = true)
 |-- V3: string (nullable = true)
 |-- V4: string (nullable = true)
 |-- V5: string (nullable = true)
 |-- V6: string (nullable = true)
 |-- V7: string (nullable = true)
 |-- V8: string (nullable = true)
 |-- V9: string (nullable = true)
 |-- V10: string (nullable = true)
 |-- V11: string (nullable = true)
 |-- V12: string (nullable = true)
 |-- V13: string (nullable = true)
 |-- V14: string (nullable = true)
 |-- V15: string (nullable = true)
 |-- V16: string (nullable = true)
 |-- V17: string (nullable = true)
 |-- V18: string (nullable = true)
 |-- V19: string (nullable = true)
 |-- V20: string (nullable = true)
 |-- V21: string (nullable = true)
 |-- V22: string (nullable = true)
 |-- V23: string (nullable = true)
 |-- V24: string (nullable = true)
 |-- V25: string (nullable = true)
 |-- V26: string (nullable = true)
 |-- V27: string (nullable = true)
 |-- V28: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Class: string (nullable = true)

In [69]:
df.select(["V1","V2","Class"]).show(1)

+----------------+-------------------+-----+
|              V1|                 V2|Class|
+----------------+-------------------+-----+
|-1.3598071336738|-0.0727811733098497|    0|
+----------------+-------------------+-----+
only showing top 1 row

Class 1 indicates fraud

In [94]:
a = df.groupBy("Class").count()

In [96]:
a.show()

+-----+------+
|Class| count|
+-----+------+
|    0|284315|
|    1|   492|
+-----+------+

In [121]:
a.shape()

AttributeError: 'DataFrame' object has no attribute 'shape'